// Reescribir variables de bootstrap

$rojo: #F34F51;
$verde: #0098AE;
$oscuro: #212121;

//Asignar paleta de colores a bootstrap

$primary: $rojo;
$secondary: $verde;
$dark: $oscuro;

// Importar Bootstrap

@import '../../node_modules/bootstrap/scss/bootstrap.scss';